{% extends 'base.html' %}
{% load static %}

{% block title %}Historia — {{ SITE_NAME }}{% endblock %}

{% block hero %}
  {% include 'partials/hero.html' %}
{% endblock %}

{% block content %}

  <h1>Historia</h1>
  <h3>DZIAŁALNOŚC ODDZIAŁU PTTK PRACOWNIKÓW KOLEJOWYCH W POZNANIU W LATACH 1966 do 2016</h3>

  <p>Powstanie Oddziału:</p>
17 marca 1966r Oddział został zarejestrowany przez Sąd Rejonowy w Poznaniu a ZG PTTK
wyraził zgodę na działalność Oddziału w dniu 18 maja 1966r. Oddział powstał w oparciu
o 9 kół zrzeszonych w Oddziale Miejskim( Poznańskim), które „przeszły” do nowo
tworzonego Oddziału. Były to koła: Dyrekcyjne, w Oddziale Drogowym, ZNTK Poznań,
Technikum Kolejowym, Szkole Pielęgniarek, ORB, Oddziale Trakcji, ZZRiŁ i Parowozowni
Towarowej. Pierwszym Prezesem został kol. Aleksander Glaza a Oddział zrzeszał w tym czasie
246 członków. W roku 1968 Oddział zrzeszał już 12 kół i został utworzony również Klub
Turystyki Pieszej „Obieżyświaty”. Oddział liczył 557 członków. Najlepsze lata dla Oddziału to
czas od 1970 do 1990 roku, gdzie Oddział zrzeszał 18 kół i KTP ( w tym 1 koło nie związane z
koleją, przy Energetyce) i prawie 1000 członków. W wyniku przemian w kraju i reorganizacji
na kolei, na przełomie wieku, nastąpiło znaczne zmniejszenie ilości członków a tym samym i
kół. Po 2000 roku Oddział zrzeszał już tylko 6 kół i prawie nie działający KTP „Obieżyświaty”.
Najmniejszą ilość członków Oddział zrzeszał w 2011 roku – w granicach 50 osób. Od tego
czasu nastąpił systematyczny wzrost liczebności Oddziału,. Dzisiaj Oddział zrzesza około 100
członków, skupionych w 3 kołach i KTP ”Obieżyświaty”. Najstarszym naszym członkiem jest
kol. Jan Madziara, który do PTTK należy od 1953 roku.
W dniu 28 stycznia 1992 r. Oddział został zarejestrowany w Krajowym Rejestrze Sądowym.

  <p>Działacze Oddziału i kadra:</p>
Jak już wspomniałem pierwszym Prezesem Oddziału, został ówczesny Dyrektor Technikum
Kolejowego w Poznaniu – Aleksander Glaza. W wyniku jego rezygnacji z tej funkcji Prezesem
został kol. Marian Tylawski. W wyniku kolejnych wyborów na Prezesa wybrano kol. Ryszarda
Stasińskiego, który tą funkcję sprawował do 1976 roku. Od tego roku, nieprzerwanie przez
25 lat, prezesował kol. Ryszard Narożny. Były to najlepsze lata w działalności Oddziału.
Od roku 2001 Prezesem Oddziału jestem ja – Andrzej Kudlaszyk. Przez te 50 lat, przez
Oddział „przewinęło się” lub z Oddziałem współpracowało wielu wspaniałych działaczy.
Należeli do nich ci, którzy Oddział tworzyli a więc koledzy: Aleksander Glaza, Marian
Tylawski, kol. Błachut, Edward Kubiak, Ryszard Stasiński, Tadeusz Wojnowski, Lutosław
Szałkowski, Jozef Marcinkowski, Mieczysław Nowak, Jan Zieliński, Barbara Springer oraz
działacze nieco młodsi tacy jak Ryszard Narożny, Włodzimierz Graczyk, Barbara Brzostek,
Anna Przybylska, Ewa Wojciechowska, Maria Szulc. Należy również wspomnieć o tych, którzy
zginęli na swoich posterunkach pracy, byli to Marek Pisarek i Benedykt Przygodzki. Przy tej
smutnej wymieniance, nie sposób nie wspomnieć o naszych przyjaciołach, takich jak: Heniu

Styperek, Jasiu Alechniewicz, Mieczysław Waszak, Mieczysław Duralski, którym nasz Oddział
wiele zawdzięcza.
Bardzo proszę o powstanie i uczczenie minutą ciszy, tych wymienionych i innych działaczy
związanych przez te pół wieku, z naszym Oddziałem. Dziękuję.
A tak przy okazji informuję, że w dniu 01 listopada br. o godz. 10,00 w kościele na Wzgórzu
Św. Wojciecha w Poznaniu za naszych wszystkich działaczy, którzy odeszli na wieczna wartę,
zostanie odprawiona Msza Św. A po Mszy, ich nazwiska zostaną wymienione podczas
wymienianek- apelu, przy Głazie Prekursorów Krajoznawstwa, również na tym wzgórzu.
Jeśli jest tu mowa o wspaniałych naszych działaczach, to nie sposób nie wymienić
sprawowanych przez nich różnych innych funkcjach. I tak kol. Ryszard Narożny przez wiele
lat z powodzeniem pełnił funkcję W-ce Prezesa Zarządu Wojewódzkiego PTTK w Poznaniu
oraz Przewodniczącego Komisji Turystyki w Radzie Głównej Kultury Fizycznej i Turystyki w
Warszawie a funkcję sekretarza tej Rady pełnił kol. Jan Kunysz. Ja przez wiele lat byłem
członkiem ZW PTTK w Poznaniu ( aż do momentu jego rozwiązania). Byłem także członkiem:
wojewódzkiej komisji turystyki pieszej oraz wojewódzkiej komisji kół i oddziałów
zakładowych PTTK. Od 5-ciu kadencji jestem członkiem Głównej Komisji Rewizyjnej PTTK.
Od początku powstania Wielkopolskiej Korporacji Oddziałów PTTK jestem związany również z
tą organizacją. Pełniłem dotychczas różne funkcje w Zarządzie i Komisji Rewizyjnej a od 4 lat
jestem Prezesem tego gremium. Kol. Tomasz Ratajczak pełnił również w WKO funkcję
Przewodniczącego Wielkopolskiej Komisji Turystyki Pieszej.
Jeśli chodzi o kadrę Oddziału, to kiedyś posiadaliśmy wielu przodowników turystyki pieszej,
górskiej, kolarskiej i wioślarskiej oraz wielu organizatorów turystyki. Obecnie posiadamy
tylko 10 przodowników TP, 3 przodowników TG, 1 instruktora krajoznawstwa i kilu
organizatorów turystyki.


{% endblock %}
