{% extends 'base.html' %}
{% load static %}

{% block title %}Historia — {{ SITE_NAME }}{% endblock %}

{% block hero %}
  {% include 'partials/hero.html' %}
{% endblock %}

{% block content %}

  <h1>Historia</h1>
  <h3>DZIAŁALNOŚC ODDZIAŁU PTTK PRACOWNIKÓW KOLEJOWYCH W POZNANIU W LATACH 1966 do 2016</h3>

  <p><b>Powstanie Oddziału:</b></p>
17 marca 1966r Oddział został zarejestrowany przez Sąd Rejonowy w Poznaniu a ZG PTTK
wyraził zgodę na działalność Oddziału w dniu 18 maja 1966r. Oddział powstał w oparciu
o 9 kół zrzeszonych w Oddziale Miejskim( Poznańskim), które „przeszły” do nowo
tworzonego Oddziału. Były to koła: Dyrekcyjne, w Oddziale Drogowym, ZNTK Poznań,
Technikum Kolejowym, Szkole Pielęgniarek, ORB, Oddziale Trakcji, ZZRiŁ i Parowozowni
Towarowej. Pierwszym Prezesem został kol. Aleksander Glaza a Oddział zrzeszał w tym czasie
246 członków. W roku 1968 Oddział zrzeszał już 12 kół i został utworzony również Klub
Turystyki Pieszej „Obieżyświaty”. Oddział liczył 557 członków. Najlepsze lata dla Oddziału to
czas od 1970 do 1990 roku, gdzie Oddział zrzeszał 18 kół i KTP ( w tym 1 koło nie związane z
koleją, przy Energetyce) i prawie 1000 członków. W wyniku przemian w kraju i reorganizacji
na kolei, na przełomie wieku, nastąpiło znaczne zmniejszenie ilości członków a tym samym i
kół. Po 2000 roku Oddział zrzeszał już tylko 6 kół i prawie nie działający KTP „Obieżyświaty”.
Najmniejszą ilość członków Oddział zrzeszał w 2011 roku – w granicach 50 osób. Od tego
czasu nastąpił systematyczny wzrost liczebności Oddziału,. Dzisiaj Oddział zrzesza około 100
członków, skupionych w 3 kołach i KTP ”Obieżyświaty”. Najstarszym naszym członkiem jest
kol. Jan Madziara, który do PTTK należy od 1953 roku.
W dniu 28 stycznia 1992 r. Oddział został zarejestrowany w Krajowym Rejestrze Sądowym.

  <p><b>Działacze Oddziału i kadra:</b></p>
Jak już wspomniałem pierwszym Prezesem Oddziału, został ówczesny Dyrektor Technikum
Kolejowego w Poznaniu – Aleksander Glaza. W wyniku jego rezygnacji z tej funkcji Prezesem
został kol. Marian Tylawski. W wyniku kolejnych wyborów na Prezesa wybrano kol. Ryszarda
Stasińskiego, który tą funkcję sprawował do 1976 roku. Od tego roku, nieprzerwanie przez
25 lat, prezesował kol. Ryszard Narożny. Były to najlepsze lata w działalności Oddziału.
Od roku 2001 Prezesem Oddziału jestem ja – Andrzej Kudlaszyk. Przez te 50 lat, przez
Oddział „przewinęło się” lub z Oddziałem współpracowało wielu wspaniałych działaczy.
Należeli do nich ci, którzy Oddział tworzyli a więc koledzy: Aleksander Glaza, Marian
Tylawski, kol. Błachut, Edward Kubiak, Ryszard Stasiński, Tadeusz Wojnowski, Lutosław
Szałkowski, Jozef Marcinkowski, Mieczysław Nowak, Jan Zieliński, Barbara Springer oraz
działacze nieco młodsi tacy jak Ryszard Narożny, Włodzimierz Graczyk, Barbara Brzostek,
Anna Przybylska, Ewa Wojciechowska, Maria Szulc. Należy również wspomnieć o tych, którzy
zginęli na swoich posterunkach pracy, byli to Marek Pisarek i Benedykt Przygodzki. Przy tej
smutnej wymieniance, nie sposób nie wspomnieć o naszych przyjaciołach, takich jak: Heniu
Styperek, Jasiu Alechniewicz, Mieczysław Waszak, Mieczysław Duralski, którym nasz Oddział
wiele zawdzięcza.
Bardzo proszę o powstanie i uczczenie minutą ciszy, tych wymienionych i innych działaczy
związanych przez te pół wieku, z naszym Oddziałem. Dziękuję.
A tak przy okazji informuję, że w dniu 01 listopada br. o godz. 10,00 w kościele na Wzgórzu
Św. Wojciecha w Poznaniu za naszych wszystkich działaczy, którzy odeszli na wieczna wartę,
zostanie odprawiona Msza Św. A po Mszy, ich nazwiska zostaną wymienione podczas
wymienianek- apelu, przy Głazie Prekursorów Krajoznawstwa, również na tym wzgórzu.
Jeśli jest tu mowa o wspaniałych naszych działaczach, to nie sposób nie wymienić
sprawowanych przez nich różnych innych funkcjach. I tak kol. Ryszard Narożny przez wiele
lat z powodzeniem pełnił funkcję W-ce Prezesa Zarządu Wojewódzkiego PTTK w Poznaniu
oraz Przewodniczącego Komisji Turystyki w Radzie Głównej Kultury Fizycznej i Turystyki w
Warszawie a funkcję sekretarza tej Rady pełnił kol. Jan Kunysz. Ja przez wiele lat byłem
członkiem ZW PTTK w Poznaniu ( aż do momentu jego rozwiązania). Byłem także członkiem:
wojewódzkiej komisji turystyki pieszej oraz wojewódzkiej komisji kół i oddziałów
zakładowych PTTK. Od 5-ciu kadencji jestem członkiem Głównej Komisji Rewizyjnej PTTK.
Od początku powstania Wielkopolskiej Korporacji Oddziałów PTTK jestem związany również z
tą organizacją. Pełniłem dotychczas różne funkcje w Zarządzie i Komisji Rewizyjnej a od 4 lat
jestem Prezesem tego gremium. Kol. Tomasz Ratajczak pełnił również w WKO funkcję
Przewodniczącego Wielkopolskiej Komisji Turystyki Pieszej.
Jeśli chodzi o kadrę Oddziału, to kiedyś posiadaliśmy wielu przodowników turystyki pieszej,
górskiej, kolarskiej i wioślarskiej oraz wielu organizatorów turystyki. Obecnie posiadamy
tylko 10 przodowników TP, 3 przodowników TG, 1 instruktora krajoznawstwa i kilu
organizatorów turystyki.

  <p><b>Lokalizacja Oddziału:</b></p>
Pierwsi dwaj Prezesi biuro Oddziału nosili we własnych teczkach, niekiedy posiedzenia
zarządu odbywały się w pomieszczeniach Domu Kultury Kolejarza w Poznaniu. Dopiero w
roku 1974, otrzymaliśmy pomieszczenie w budynku Oddziału Tracji, przy ul. Kolejowej 23 a w
dniu 20 marca 1979 r. otrzymaliśmy lokal z prawdziwego zdarzenia, składający się z dwóch
dużych pokoi, również w tym samym budynku. Lokal był coraz to lepiej wyposażony, dzięki
współpracy z Dyrekcją Rejonową Kolei Państwowych, która od roku 1982 objęła swoim
patronatem nasz Oddział a Dyr. Bogdan Sadowski został nawet członkiem Zarządu. Sielanka
trwała do roku 2010, gdzie w wyniku porozumienia ( wymuszonego) przez Dyrektora PKP
Cargo, Zakład w Poznaniu, Oddział otrzymał pomieszczenie w piwnicy tego budynku. W
związku z tym, że biuro Oddziału „zeszło do podziemia”, Oddział został zwolniony z wszelkich
opłat za lokal i media. W roku obecnym, niestety w miesiącu maju otrzymaliśmy od PKP
Cargo wspaniały prezent, z okazji 50-lecia, a mianowicie zostaliśmy poinformowani, że
zajmowane pomieszczenie, w piwnicy budynku przy ul. Kolejowej 23, musimy niezwłocznie
opuścić. W dniu 01 sierpnia stało to się faktem. Biuro Oddziału zostało przeniesione na teren
Zakładu Robót Komunikacyjnych DOM w Poznaniu, do kontenera, przy ul. Kolejowej 4 . Do
chwili obecnej, nie podpisaliśmy stosownej umowy na wynajmowanie tych pomieszczeń
( jest to około 17m²).

  <p><b>Imprezy organizowane przez Oddział:</b></p>
Pierwszą, duża imprezą jako Oddział zorganizował, był I Rajd Szlakiem Powstania
Wielkopolskiego w roku 1968 do Mosiny, w którym udział wzięło 557 turystów. Rajd ten był
organizowany nieprzerwanie do 1994 roku. Po, drodze uzyskał status rajdu Ogólnopolskiego.
Rajd ten od początku, cieszył się bardzo dużym „wzięciem”, było spowodowane to tym, że na
znaczkach okolicznościowych i proporczykach rajdowych corocznie figurował orzeł w
koronie, co w tych czasach było ewenementem. Właśnie ja, corocznie odwiedzałem na ul.
Mickiewicza w Poznaniu - Urząd Kontroli Prasy, Publikacji i Widowisk i tam „po ciężkich
bojach” uzyskiwałem zgodę na orła w koronie. Tłumacząc, że jest to orzeł z poznańskiego
ratusza, który cały czas, również w czasie okupacji - posiadał koronę. Po kilku latach, w
urzędzie tym nie było już problemów, bo jego pracownicy zapamiętali naszą imprezę i od
ręki, przystawiali stosowny stempel, zezwalający na orła w koronie.
Kolejną, cykliczną imprezą stał się organizowany nieprzerwanie od 1977 roku do dnia
dzisiejszego -Rajd do Kobylnicy. Początkowo był to rajd zimowy ale od kilku lat stał się
rajdem wiosennym ( ze względu na dotację przyznawaną przez UMWW dopiero od m-ca
kwietnia). Rajd ten, ze względu na stan wojenny, nie odbył się tylko w roku 1982. W latach
1983 do 1985 zostały zorganizowane trzy Rajdy Szlakiem Armii „Poznań” , ale ze względu na
dość niską frekwencję, zaniechaliśmy ich organizowania. Natomiast od roku 1993 do 2013,
zorganizowaliśmy 21 Ogólnopolskich Rajdów Szlakiem Historii Kolei, które cieszyły się
olbrzymim wzięciem wśród turystów z całego kraju. Trzy z nich kończyły się na Wystawie
Taboru i Sprzętu Kolejowego. W latach 1993 do 1998 zorganizowaliśmy 6 takich Wystaw w
Poznaniu: początkowo na Dworcu Poznań Gł. na peronie 4b ( Dworcu Letnim), później na
Malcie i 3 wystawy na terenie stacji Poznań Starołęka. Wystawy te cieszyły się olbrzymią
popularnością. Każdą z nich odwiedziło kilkanaście tysięcy zwiedzających. Dwie takie
Wystawy zorganizowaliśmy również w Zielonej Górze i jedną w Zbąszynku gdzie pamiątką po
Wystawie, jest stojący tam do dnia dzisiejszego wąskotorowy parowóz Px 48. Od 2014 roku
Oddział przystąpił ponownie do organizowania Ogólnopolskich Rajdów Szlakiem Powstania
Wielkopolskiego, ze stałym zakończeniem w Lusowie.
Oprócz wymienionych rajdów. Oddział i jego koła zorganizowały setki innych rajdów, złazów,
spacerów, spływów. Chociażby takich jak: Złazy Noworoczne, Spacery Wiosenne i Jesienne
po Poznaniu, rajdy pod hasłem” Cudze chwalicie swojego nie znacie” i „ Dla każdego coś
miłego”, imprezy dla dzieci na terenie Ośrodka w Chybach, Wielkopolskie Rajdy Kolejarzy,
rajdy „ z wędką na rajd” i wiele, wiele innych. W przeciągu tych 50 lat zorganizowaliśmy
dziesiątki imprez zleconych o najwyższej randze w kraju, takich jak: w roku 1978 Zlot Klubów
Turystyki Pieszej ( wzięło udział 56 klubów), Międzynarodowe Biegi na Orientację o Puchar
Miast Targowych Europy w Skokach ( zawodnicy z 7 państw i kilkuset zawodników
krajowych), Ogólnopolski Rajd Biur Projektów w Sierakowie, w roku 1982- XXV Jubileuszowy
Zlot Przodowników Turystyki Pieszej w Sierakowie, połączony z Rajdem Szlakiem Powstania
Wielkopolskiego ( udział 2 000 przodowników i 500 uczestników rajdu), kilka razy
organizowaliśmy Centralne Zloty Kolejarzy ( Chyby, Kiekrz, Niechorze) oraz Ogólnopolskie
Fora Krajoznawcze Kolejarzy ( w roku 1994 w DKK uczestniczył jako Gość Wojewoda
Włodzimierz Łęcki), Ogólnopolskie Sejmiki Działaczy Kultury Fizycznej i Turystyki. Za
organizację tych imprez dwukrotnie otrzymaliśmy Puchar Ministra Komunikacji oraz nagrodę
pieniężną z GK KFiT oraz wiele nagród i podziękowań z Urzędu Wojewódzkiego i Urzędu
Miasta Poznania.
Setki imprez turystycznych różnych typów, organizowały również nasze koła np. Koło PTTK
nr 1 przy Dyrekcji PKP z okazji swojego 30-lecia w roku 1983, za cykl imprez turystycznych
zostało wyróżnione Złotą Odznaką Honorową PTTK, koło nr 2 przy Oddziale Drogowym w
Poznaniu z okazji swojego Jubileuszu 30-lecia zorganizowało na Węgrzech 11 turnusów
wczasów namiotowych, Koło PTTK nr 4 przy Technikum Kolejowym jeszcze niedawno, z
okazji Dnia Wagarowicza organizowało rajdy dla całej szkoły, jeszcze kilka lat temu koło PTTK
przy Oddziale Drogowym w Lesznie organizowało bardzo znane rajdy ” Szlakiem Zielonych
Semaforów” a koło nr 17 przy Kolejach Dojazdowych organizowało dziesiątki wielodniowych
wyjazdów za granicę ( 3 krotnie do Włoch, dwukrotnie do Paryża, do Hiszpanii, Grecji, Turcji,
Austrii, Belgii, Niemiec, Czech, Słowacji, Rumunii, Bułgarii, Słowenii, Węgier, na Litwę,
Ukrainę i Białoruś) były to wyjazdy wagonami socjalnymi albo też „na pasażera”. Jeszcze do
dnia dzisiejszego, nasi działacze organizują różnego typu wyjazdy, są to wypady w góry,
wycieczki rowerowe, spływy kajakowe, ale już o zasięgu dużo mniejszym i mniejsze liczebnie.
Oddział, przez wiele lat organizował kilkudniowe wyjazdy szkoleniowe, dla swojego aktywu.
Pierwszy taki wyjazd był do Dymaczewa a następne już w góry, które przygotowywał kol.
Bogdan Koralewski jako „szef” komisji turystyki górskiej.
Członkowie Oddziału, oprócz imprez swoich, uczestniczyli w setkach imprez na terenie
całego kraju, co ułatwiły bilety wolnej jazdy lub ze zniżką PKP.

  <p><b>Pozostała działalność:</b></p>
- Oddział cały czas prowadzi referat weryfikacyjny OTP. Jako jedyny w kraju przyznaje
Kolejową Odznakę Turystyczną, której projektodawcą jest kol. Paweł Brych. On też
opracował Regulamin, 3-stopniowej Odznaki, która została zatwierdzona przez ZG PTTK
w roku 1994. <br>
- Oddział posiada bogatą bibliotekę turystyczną, składającą się z ponad 1000 woluminów.
Bibliotekę tą stworzył i przez wiele, wiele lat prowadził kol. Bogdan Koralewski. <br>
- Komisję Turystyki Pieszej w Oddziale, prawie od początku istnienia Oddziału ,zastępuje Klub
Turystyki Pieszej „ Obieżyświaty”. <br>
- Oddział w czasie swojego istnienia, wydał wiele różnych wydawnictw, na szczególną uwagę
zasługuje informator Oddziałowy oraz różne śpiewniki. <br>
– Oddział przez 50 letni okres działalności zorganizował kilkanaście kursów na organizatorów
turystyki oraz przodowników turystyki pieszej i kolarskiej. <br>


{% endblock %}
